@model IEnumerable<ANNIE_SHOP.Models.Rol>

@{
    ViewData["Title"] = "Index";
}

<h1>Roles actuales</h1>

<p>
    <a asp-action="Create">Crear neuvo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RolId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.RolId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.RolId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
